    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'userapp/plugins/fontawesome-free/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'userapp/plugins/fontawesome-free/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'userapp/plugins/fontawesome-free/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'userapp/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'userapp/plugins/jqvmap/jqvmap.min.css' %}">
    <link rel="stylesheet" href="{% static 'userapp/plugins/overlayScrollbars/css/OverlayScrollbars.min.css' %}">
    <link rel="stylesheet" href="{% static 'userapp/plugins/daterangepicker/daterangepicker.css' %}">
    <link rel="stylesheet" href="{% static 'userapp/plugins/summernote/summernote-bs4.min.css' %}">

    <link rel="stylesheet" href="{% static 'userapp/plugins/select2/css/select2.css' %}">
    <link rel="stylesheet" href="{% static 'userapp/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">
    
    {% comment %} new datatable css {% endcomment %}
    <link rel="stylesheet" href="{% static 'userapp/dist/data-table/jquery.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'userapp/dist/data-table/custom.css' %}">

    <link rel="stylesheet" href="{% static 'userapp/assets/css/w3.css' %}">
    <link rel="stylesheet" href="{% static 'userapp/dist/css/adminlte.css' %}">
    <link rel="stylesheet" href="{% static 'userapp/dist/css/custom.css' %}">
    
    
    <link rel="shortcut icon" href="{% static 'userapp//static/hr/assets/images/favicon.png' %}" />
    
    <script src="{% static 'userapp/plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'userapp/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{% static 'userapp/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'userapp/plugins/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'userapp/plugins/sparklines/sparkline.js' %}"></script>
    <script src="{% static 'userapp/plugins/jqvmap/jquery.vmap.min.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{% static 'userapp/plugins/select2/js/select2.js' %}"></script>
    <script src="{% static 'userapp/plugins/jqvmap/maps/jquery.vmap.usa.js' %}"></script>
    <script src="{% static 'userapp/plugins/moment/moment.min.js' %}"></script>
    <script src="{% static 'userapp/plugins/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'userapp/plugins/summernote/summernote-bs4.min.js' %}"></script>
    <script src="{% static 'userapp/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js' %}"></script>
    <script src="{% static 'userapp/dist/js/adminlte.js' %}"></script>
    <script src="{% static 'userapp/dist/js/highcharts.js' %}"></script>
    <script src="{% static 'userapp/dist/js/demo.js' %}"></script>
    <script src="{% static 'userapp/dist/js/pages/dashboard.js' %}"></script>
    <script src="{% static 'userapp/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
    
    {% comment %} new datatable js {% endcomment %}
    <script src="{% static 'userapp/dist/data-table/data-table-act.js' %}"></script>
    <script src="{% static 'userapp/dist/data-table/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'userapp/dist/js/custom.js' %}"></script>
